# This gitignore is a whitelist. Inspired by https://rgbcu.be/blog/gitignore

*

!.gitignore
!.golangci.yml
!AGENTS.md
!LICENSE.md

!*.md
!*.go
!searchDeciderPrompt.txt
!cmd/
!cmd/*/
!cmd/*/*.go

!Dockerfile
!config-example.yaml
!docker-compose.yaml
!go.mod
!go.sum
!render.yaml
